.metadata/
SLDEditor/bin/
SLDEditor/target/
SLDEditor/.settings/
logs/
rw.xml
.recommenders/
/SLDEditor/modules/common/.settings/org.eclipse.core.resources.prefs
/SLDEditor/modules/common/.settings/org.eclipse.m2e.core.prefs
/SLDEditor/modules/common/dependency-reduced-pom.xml
/SLDEditor/modules/common/src/main/java/META-INF/sun-jaxb.episode
/SLDEditor/modules/extension/base/.settings/org.eclipse.core.resources.prefs
/SLDEditor/modules/extension/base/.settings/org.eclipse.m2e.core.prefs
/SLDEditor/modules/extension/base/dependency-reduced-pom.xml
/SLDEditor/modules/extension/esri-mxd/.settings/org.eclipse.m2e.core.prefs
/SLDEditor/modules/tool/.settings/org.eclipse.m2e.core.prefs
/SLDEditor/config.properties
/SLDEditor/dependency-reduced-pom.xml
/SLDEditor/layout.data
/SLDEditor/modules/application/config.properties
/SLDEditor/modules/application/dependency-reduced-pom.xml
dependency-reduced-pom.xml
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.core.resources.prefs
/GeoserverExport
/slddata
/import-esri-mxd
/SLDEditor/docs/*.pyc
*.prefs
sun-jaxb.episode
config.properties
*.pyc
/bin/ImportMXD.jar
/bin/SLDEditor.jar
/bin/original-SLDEditor.jar
/bin/original-ImportMXD.jar
/bin/se-import-esrimxd-0.1.0-shaded.jar
/modules/common/consolemanagertest.log
/modules/application/consolemanagertest.log
/modules/import/bin/ExportSLD.jar
/modules/import/bin/ImportMXD.jar
/target/

bin/runSLDEditor\.bat

bin/runSLDEditor\.sh

bin/SLDEditor\.exe

bin/launch4j\.log
